:root {
    --background-color: #F5F5F5;
    --text-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: -0.04em;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
} 